In [3]:
import pandas as pd

data_filepath = "data/data.csv"

In [4]:
data = pd.read_csv(data_filepath)

data.head()

,Unnamed: 0,id,bathrooms,bedrooms,fee,price,square_feet,cityname,state,latitude,longitude,date,price_per_square_ft
0,0,5668640009,1.0,1.0,No,2195.0,542,Redondo Beach,CA,33.8520,-118.3759,2019-12-26,4.049815
1,1,5668639818,1.5,3.0,No,1250.0,1500,Newport News,VA,37.0867,-76.4941,2019-12-26,0.833333
2,2,5668639686,2.0,3.0,No,1395.0,1650,Raleigh,NC,35.8230,-78.6438,2019-12-26,0.845455
3,3,5668639659,1.0,2.0,No,1600.0,820,Vacaville,CA,38.3622,-121.9712,2019-12-26,1.951220
4,4,5668639374,1.0,1.0,No,975.0,624,Albuquerque,NM,35.1038,-106.6110,2019-12-26,1.562500

# Question 2: How do apartment prices vary between cities within the same state?

In [ ]:
# Required:
# --- 2 visualizations
# ------ clear and accurate labels
# ------ precise explanations
# --- final analysis
# ------ aggregation, correlation, comparison, summary statistics, sentiment analysis, and time series analysis