In [410]:
import pandas as pd

data_filepath = "data-unclean.csv"

In [411]:
data = pd.read_csv(data_filepath)

pd.set_option("display.max_columns", None)
data.head()

/var/folders/t0/l5bcbd_n75g4yvrybp7c4l380000gn/T/ipykernel_6460/2270262489.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_filepath)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,NaN,1395.0,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,RentLingo,1577360308

# Fixing DtypeWarning: Columns (15) have mixed types

In [412]:
data = pd.read_csv(data_filepath, dtype={"address": str})

print(f"COUNT OF TYPES BEFORE:\n{data["address"].apply(type).value_counts()}\n------------------------")

problematic_rows = data[~data["address"].apply(lambda address: isinstance(address, str))]
data["address"] = data["address"].fillna("Unknown") # CLEANING

print(f"COUNT OF TYPES AFTER:\n{data["address"].apply(type).value_counts()}")

COUNT OF TYPES BEFORE:
address
<class 'float'>    91549
<class 'str'>       7943
Name: count, dtype: int64
------------------------
COUNT OF TYPES AFTER:
address
<class 'str'>    99492
Name: count, dtype: int64

# Removing NaN values

In [413]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99489 non-null  object
 4   amenities      83448 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99368 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   39068 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        99492 non-null  object
 16  cityname       99190 non-null  object
 17  state          99190 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  object
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(4), int64(3), object(15)
memory usage: 16.7+ MB

In [414]:
data["body"] = data["body"].fillna("Unknown") # CLEANING

In [415]:
data["amenities"] = data["amenities"].fillna("Unknown") # CLEANING

In [416]:
data["bathrooms"] = data["bathrooms"].fillna("Unknown") # CLEANING
data["bathrooms"].unique()

array([1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 7.0, 4.5, 'Unknown', 5.0, 8.0,
       8.5, 6.0, 5.5, 9.0, 7.5], dtype=object)

In [417]:
data["bedrooms"] = data["bedrooms"].fillna("Unknown") # CLEANING
data["bedrooms"].unique()

array([1.0, 3.0, 2.0, 4.0, 0.0, 5.0, 7.0, 8.0, 'Unknown', 6.0, 9.0],
      dtype=object)

In [418]:
data["pets_allowed"] = data["pets_allowed"].fillna("Unknown") # CLEANING
data["pets_allowed"].unique()

array(['Cats', 'Cats,Dogs', 'Unknown', 'Dogs', 'Cats,Dogs,None'],
      dtype=object)

In [419]:
 data[data["pets_allowed"] == "Cats,Dogs,None"]

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
83369,5168200637,housing/rent/apartment,1 BR In St Paul Southwest,xxxxxxxxxx.xxx Listing ID xxx-xxx-xxxx. AVAILA...,Unknown,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs,None",930.0,$930,Monthly,720,Unknown,Saint Paul,MN,448.935,-931.084,RealRentals,1548536317

In [420]:
data["price"] = data["price"].fillna("Unknown") # CLEANING
data["price_display"] = data["price_display"].fillna("Unknown") # CLEANING

In [421]:
data["cityname"] = data["cityname"].fillna("Unknown") # CLEANING

In [422]:
data["state"] = data["state"].fillna("Unknown") # CLEANING

In [423]:
data["latitude"] = data["latitude"].fillna("Unknown") # CLEANING
data["longitude"] = data["longitude"].fillna("Unknown") # CLEANING

In [424]:
data["source"] = data["source"].fillna("Unknown") # CLEANING

In [425]:
data["time"] = data["time"].fillna("Unknown") # CLEANING

In [426]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99492 non-null  object
 4   amenities      99492 non-null  object
 5   bathrooms      99492 non-null  object
 6   bedrooms       99492 non-null  object
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   99492 non-null  object
 11  price          99492 non-null  object
 12  price_display  99492 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        99492 non-null  object
 16  cityname       99492 non-null  object
 17  state          99492 non-null  object
 18  latitude       99492 non-null  object
 19  longitude      99492 non-null  object
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: int64(3), object(19)
memory usage: 16.7+ MB

In [427]:
data.to_csv("data.csv")

# Formatting data

In [428]:
data.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",Unknown,1.0,1.0,USD,No,Thumbnail,Cats,2195.0,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.52,-1.183.759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",Unknown,1.5,3.0,USD,No,Thumbnail,"Cats,Dogs",1250.0,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,Unknown,2.0,3.0,USD,No,Thumbnail,Unknown,1395.0,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.23,-786.438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",Unknown,1.0,2.0,USD,No,Thumbnail,"Cats,Dogs",1600.0,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",Unknown,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",975.0,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,RentLingo,1577360308

In [429]:
data["category"] = data["category"].str.replace("housing/rent/", "")
data["category"] = data["category"].str.replace("housing/rent", "Unknown")

data["category"].unique()

array(['apartment', 'home', 'short_term', 'Unknown', 'condo', 'other',
       'commercial/retail'], dtype=object)

In [430]:
data = data.drop("title", axis=1)

In [431]:
data = data.drop("body", axis=1)

In [432]:
data = data.drop("amenities", axis=1)

In [433]:
data = data.drop("has_photo", axis=1)

In [434]:
data = data.drop("price_display", axis=1)

In [435]:
data = data.drop("source", axis=1)

In [436]:
date = pd.to_datetime(data["time"], unit="s").dt.strftime("%m/%d/%Y")
time = pd.to_datetime(data["time"], unit="s").dt.strftime("%H:%M%p")

data = data.drop("time", axis=1)
data["date"] = date
data["time"] = time

In [437]:
data.head()

,id,category,bathrooms,bedrooms,currency,fee,pets_allowed,price,price_type,square_feet,address,cityname,state,latitude,longitude,date,time
0,5668640009,apartment,1.0,1.0,USD,No,Cats,2195.0,Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.52,-1.183.759,12/26/2019,11:39AM
1,5668639818,apartment,1.5,3.0,USD,No,"Cats,Dogs",1250.0,Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,12/26/2019,11:39AM
2,5668639686,apartment,2.0,3.0,USD,No,Unknown,1395.0,Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.23,-786.438,12/26/2019,11:38AM
3,5668639659,apartment,1.0,2.0,USD,No,"Cats,Dogs",1600.0,Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,12/26/2019,11:38AM
4,5668639374,apartment,1.0,1.0,USD,No,"Cats,Dogs",975.0,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,12/26/2019,11:38AM